body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://images.yourstory.com/production/document_image/mystoryimage/4h0ck631-Vidhana_Souda_,_Bangalore.jpg?fm=png&auto=format'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header {
    background-color: rgba(0, 123, 255, 0.8);
    color: #fff;
    padding: 20px;
    text-align: center;
    animation: slideLeft 1s ease-out;
}

#search {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#areaName {
    width: 60%;
    padding: 15px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
}

#searchBtn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#searchBtn:hover {
    background-color: #0056b3;
}

#result {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

@keyframes slideLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #007bff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

